name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- task: DotNetCoreCLI@2
  displayName: Restore
  inputs:
    command: 'restore'
    projects: '**/*.csproj'
    feedsToUse: 'select'
    vstsFeed: 'e5fb2e9c-1207-48a4-8f7b-2e6b32308210'


- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    projects: '**/*.csproj'
    arguments: '--configuration $(BuildConfiguration)'


- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: test
    projects: '**/*Tests/*.csproj'

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack'
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
  inputs:
    command: pack
    packagesToPack: 'SW.EfCoreExtensions/SW.EfCoreExtensions.csproj'
    nobuild: true
    versioningScheme: byBuildNumber

- task: DotNetCoreCLI@2
  displayName: 'dotnet push'
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
  inputs:
    command: push
    publishVstsFeed: 'e5fb2e9c-1207-48a4-8f7b-2e6b32308210'

